<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zayy.mapper.CheckItemDeptMapper">
    
    <resultMap type="CheckItemDept" id="CheckItemDeptResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="itemId"    column="item_id"    />
    </resultMap>

    <sql id="selectCheckItemDeptVo">
        select id, dept_id, item_id from check_item_dept
    </sql>

    <select id="selectCheckItemDeptList" parameterType="CheckItemDept" resultMap="CheckItemDeptResult">
        <include refid="selectCheckItemDeptVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
        </where>
    </select>
    <select id="selectCheckItemDeptNameList" parameterType="Long" statementType="STATEMENT" resultType="java.util.HashMap">
        select * from check_item_dept t1
                          left join check_item t2
                                    on t1.item_id = t2.id
        where t1.dept_id = ${deptId}
    </select>
    
    <select id="selectCheckItemDeptById" parameterType="Long" resultMap="CheckItemDeptResult">
        <include refid="selectCheckItemDeptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCheckItemDept" parameterType="CheckItemDept" useGeneratedKeys="true" keyProperty="id">
        insert into check_item_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="itemId != null">item_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="itemId != null">#{itemId},</if>
         </trim>
    </insert>

    <update id="updateCheckItemDept" parameterType="CheckItemDept">
        update check_item_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCheckItemDeptById" parameterType="Long">
        delete from check_item_dept where id = #{id}
    </delete>

    <delete id="deleteCheckItemDeptByIds" parameterType="String">
        delete from check_item_dept where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>