<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zayy.mapper.RecordAjMapper">
    
    <resultMap type="RecordAj" id="RecordAjResult">
        <result property="id"    column="id"    />
        <result property="securityIp"    column="security_ip"    />
        <result property="securityType"    column="security_type"    />
        <result property="imgBase64"    column="img_base64"    />
        <result property="securityTime"    column="security_time"    />
        <result property="imgPath"    column="img_path"    />
    </resultMap>

    <sql id="selectRecordAjVo">
        select id, security_ip, security_type, img_base64, security_time, img_path from record_aj
    </sql>

    <select id="selectRecordAjList" parameterType="RecordAj" resultMap="RecordAjResult">
        <include refid="selectRecordAjVo"/>
        <where>  
            <if test="securityIp != null  and securityIp != ''"> and security_ip = #{securityIp}</if>
            <if test="securityType != null "> and security_type = #{securityType}</if>
            <if test="imgBase64 != null  and imgBase64 != ''"> and img_base64 = #{imgBase64}</if>
            <if test="securityTime != null "> and security_time = #{securityTime}</if>
            <if test="imgPath != null  and imgPath != ''"> and img_path = #{imgPath}</if>
        </where>
        order by security_time desc
    </select>
    
    <select id="selectRecordAjById" parameterType="Long" resultMap="RecordAjResult">
        <include refid="selectRecordAjVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRecordAj" parameterType="RecordAj" useGeneratedKeys="true" keyProperty="id">
        insert into record_aj
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="securityIp != null">security_ip,</if>
            <if test="securityType != null">security_type,</if>
            <if test="imgBase64 != null">img_base64,</if>
            <if test="securityTime != null">security_time,</if>
            <if test="imgPath != null">img_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="securityIp != null">#{securityIp},</if>
            <if test="securityType != null">#{securityType},</if>
            <if test="imgBase64 != null">#{imgBase64},</if>
            <if test="securityTime != null">#{securityTime},</if>
            <if test="imgPath != null">#{imgPath},</if>
         </trim>
    </insert>

    <update id="updateRecordAj" parameterType="RecordAj">
        update record_aj
        <trim prefix="SET" suffixOverrides=",">
            <if test="securityIp != null">security_ip = #{securityIp},</if>
            <if test="securityType != null">security_type = #{securityType},</if>
            <if test="imgBase64 != null">img_base64 = #{imgBase64},</if>
            <if test="securityTime != null">security_time = #{securityTime},</if>
            <if test="imgPath != null">img_path = #{imgPath},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecordAjById" parameterType="Long">
        delete from record_aj where id = #{id}
    </delete>

    <delete id="deleteRecordAjByIds" parameterType="String">
        delete from record_aj where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>